.progress {
  position: absolute;
  transform: translate(-50px, 120px);
  width: 400px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  :nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
    font-style: normal;
    margin: 0 0 10px 10px;
  }
  #progress {
    height: 6px;
    margin: 0 0 0 10px;
    border-radius: 12px;
    background-color: #2f80ed;
  }
}
