.ViewFile {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 380px;
    height: 300px;
    border: 0;
    border-radius: 12px;
    margin: 10px 0 10px 0;
  }
  :nth-child(4) {
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #b4b4bb;
    border-radius: 12px;
    padding: 2px;
    margin: 10px 0 0 0;
    input {
      width: 80%;
      height: 100%;
      border: 0;
      outline: none;
      background-color: transparent;
    }
    button {
      width: 100px;
      height: 100%;
      border: 0;
      outline: none;
      cursor: pointer;
      opacity: 1;
      border-radius: 12px;
      font-size: 16px;
    }
  }
  #arrow {
    position: absolute;
    transform: translate(-180px, -180px);
    font-size: 26px;
    cursor: pointer;
  }
}
